@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.form {
  pointer-events: none;
  position: absolute;
  display: grid;
  grid-template-columns: auto 50%;
  width: 100vw;
  height: 100vh;
}

.formCanvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.formContent {
  display: flex;
  justify-items: center;
}

.container {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 500px;
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 40px;
}

.form-input {
  margin: 1em;
}

.form-input label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-input label p {
  text-transform: uppercase;
  font-size: 0.8em;
  color: white;
  margin: 0;
  margin-left: 15px;
  margin-bottom: 5px;
}

.form-input label input {
  pointer-events: all;
  font: 100 "Open Sans", sans-serif;
  color: white;
  width: 300px;
  padding: 10px;
  background-color: #13131318;
  outline: none;
  padding-left: 15px;
  padding-right: 15 px;
  border-style: none;
  border-radius: 20px;
}

h1 {
  font-family: "Dancing Script", cursive;
  color: rgb(255 106 155);
  font-size: 4em;
  text-shadow: 2px 2px 4px #00000049;
  margin: 50px;
}

.form button {
  margin-top: 40px;
  background-color: rgb(235, 118, 157);
  border-style: none;
  color: white;
  padding: 10px;
  border-radius: 25px;
  width: 320px;
  height: 50px;
  margin-bottom: 70px;
}
