.form {
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vh;
  position: absolute;
  pointer-events: none;
}

.container {
  padding: 2em;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  pointer-events: all;
  width: 300px;
  margin: 1em;
  padding: 5px;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  border-color: palevioletred;
  border-radius: 20px;
}
