html body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  font: 300 16px/18px "Open Sans", sans-serif;
}

body {
  background: #4998c0;
  background: linear-gradient(
    122deg,
    rgba(57, 222, 255, 1) 0%,
    rgba(187, 128, 223, 1) 100%
  );
}
